<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tạo loại sản phẩm</title>
    <div th:replace="fragment::head-custom"></div>
</head>
<body>
    <form th:action="@{/admin/category/create}" method="post" th:object="${categoryRequest}" enctype="multipart/form-data">
        <table>
            <tr>
                <th>Tên loại sản phẩm</th>
                <td>
                    <input type="text" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <th>Hình ảnh</th>
                <td>
                    <input id="fileImage" name="image" type="file" accept="image/png, image/jpg, image/jpeg">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img id="thumbnail" alt="image preview" width="200px"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button>Lưu</button>
                </td>
            </tr>
        </table>
    </form>
<script type="text/javascript">
   $(document).ready(function(){
        $('#fileImage').change(function(){
            showImageThumbnail(this);
        });
    });

    function showImageThumbnail(fileInput){
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function(e){
            $('#thumbnail').attr('src', e.target.result);
        }

        reader.readAsDataURL(file);
    }
</script>
</body>
</html>